#main{
    width: 700px;
    height: 900px;
    border: 3px solid black;
    position: relative;
    padding: 10px;
    margin: 10px;
}
.car{
    width: 100px;
    position: relative;
    top:780px
}
#p1{
    left: 12px;
}
#p2{
    left: 345px;
}
.panal{
position: relative;
left: 550px;
top:-100px;
width: 100px;
height: 550px;
padding: 10px;
margin: 10px;
background-color: rgba(14, 20, 20, 0.555);
}
.finish{
    position: relative;
    width: 600px;
    height: auto;
    border: 3px solid black;
    top: 50px;
}
