#main {
  width: 700px;
  height: 900px;
  border: 3px solid black;
  position: relative;
  padding: 10px;
  margin: 10px;
}
.car {
  width: 100px;
  position: fixed;
  top: 780px;
}
#p1 {
  left: 30px;
}
#p2 {
  left: 480px;
}
.panal {
  position: fixed;
  left: 580px;
  top: 3px;
  width: 131px;
  height: 900px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(14, 20, 20, 0.555);
}
.finish {
  position: fixed;
  width: 569px;
  height: 45px;
  top: 13px;
  left: 21px;
}
#road_bg {
  background: green;
  position: fixed;
  top: 56px;
  width: 569px;
  height: 877px;
  left: 21px;
}
.road {
  position: fixed;
  width: 164px;
  height: 877px;
  background: black;
}
#p1-road {
  left: 426px;
}
#p2-road {
  left: 21px;
}
