<div class="card mb-3" style="max-width: 50rem">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/8a8dcf103173247.5f471a30c0f21.png"
        alt="..."
        style="width: 100%"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ current.name }}</h5>
        <p>Username: {{ current.username }}</p>
        <p>Email: {{ current.email }}</p>
        <p>Phone Number: {{ current.phone }}</p>
        <p>
          Address: {{ current.address.suite }}, {{ current.address.street }},
          {{ current.address.city }}
        </p>
        <p>
          Website: <a href="{{ current.website }}">{{ current.website }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
