<div class="card mb-3" style="max-width: 50rem" *ngIf="current; else no_data">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ img }}" alt="..." style="width: 100%" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ current.name }}</h5>
        <p>Username: {{ current.username }}</p>
        <p>Email: {{ current.email }}</p>
        <p>Phone Number: {{ current.phone }}</p>
        <p>
          Address: {{ current.address.suite }}, {{ current.address.street }},
          {{ current.address.city }}
        </p>
        <p>
          Website: <a href="{{ current.website }}">{{ current.website }}</a>
        </p>
      </div>
    </div>
  </div>
  <ngx-uploadcare-widget
    public-key="d2eaba00baf97d93aeb1"
    (on-change)="change_pic($event)"
    (on-progress)="prog($event)"
    (on-upload-complete)="compelete($event)"
    #uploadcare
    crop="free"
    [images-only]="true"
    input-accept-types="image/*"
    tabs="file camera url gphotos instagram facebook"
  >
  </ngx-uploadcare-widget>
</div>
<ng-template #no_data>
  <div class="spinner-border text-info" role="status">
    <span class="sr-only"></span>
  </div>
</ng-template>
