#main{
    width: 700px;
    height: 600px;
    border: 3px solid black;
    position: relative;
    padding: 10px;
    margin: 10px;
}
.car{
    width: 100px;
    position: relative;
    top:501px
}
#p2{
    left: 400px;
}
.panal{
position: relative;
left: 550px;
top:-100px;
width: 100px;
height: 550px;
padding: 10px;
margin: 10px;
background-color: rgba(14, 20, 20, 0.555);
}
